@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #16423c;
  --secondary-color: #e9efec;
  --dark-color: #c4dad2;
  --light-text-color: #c4dad2;
  --dark-text-color: #16423c;
}

.main_navbar {
  background-color: var(--primary-color) !important;
  height: 100vh;
}

.drawer_items {
  gap: 5%;
}

.light-text {
  color: var(--light-text-color) !important;
  font-family: "Courier Prime", monospace !important;
}

.dark-text {
  color: var(--dark-text-color) !important;
  font-family: "Courier Prime", monospace !important;
}

.justify-text {
  margin: 5%;
  text-align: justify;
}

h1 {
  font-size: 4rem !important;
}

h2 {
  font-size: 3rem !important;
}

.principal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-img {
  cursor: pointer;
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin-top: 15%;
  margin-bottom: 15%;
  border-radius: 50%;
}

.card-media-container {
  display: flex;
  justify-content: center;
}

.card-media {
  width: auto;
  height: 100px !important;
  object-fit: fill;
}

.card-container {
  background-color: var(--dark-color);
  border-radius: 25px;
}

.slider-container {
  border-radius: 25px;
}

main {
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--secondary-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
